doctype html
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', type='text/css', href='stylesheets/css/dashboard.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/css/reset.css')
  link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
body
  div.page-wrapper
    div.header
      div.burger-holder
    div.content-wrapper
      div.account-standing
        h1.account-standing-label Account Standing
        h1.account-value $10,000
