<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../public/stylesheets/splash.css">
    <title>
      Sign Up | Temp Name
    </title>
    <body>
      <!--Side bar-->
      <div class="sidenav">
        <a href="#">Dashboard</a>
        <a href="#">Investment</a>
        <a href="#">Account</a>
        <a href="#">Analysis</a>
        <a href="#">Contact Us</a>
        <a href="#">Algorithms</a>
      </div>

      <!--Text Forms-->
      <section style:"overflow:hidden">
        <div style="margin-left:20%;margin-top:10%;padding:1px 16px;width:25%;display:inline-block;">
          <!--php signup form-->
          <h2>
            Register Here
          </h2>
          <form>
            <!--Inputs to register-->
            <input type="text" id="fname" name="firstname" placeholder="First Name">
            <input type="text" id="lname" name="lastname" placeholder="Last Name">
            <input type="text" id="remail" name="registerEmaiAddress" placeholder="Email Address">
            <input type="password" id="rpass" name="registerPassword" placeholder="Password">
            <input type="password" id="rcpass" name="confirmpassword" placeholder="Confirm Password">
            <br/>
            <button id="rBttn" name="register">Register</button>
          </form>
        </div>

        <!--Log In-->
        <div style="margin-left:10%;display:inline-block;margin-top:10%;vertical-align:top">
          <!--php signin form-->
          <h2>
            Log In
          </h2>
          <form>
            <!--Inputs to register-->
            <input type="text" id="email" name="emaiAddress" placeholder="Email Address">
            <input type="password" id="pass" name="password" placeholder="Password">
            <br/>
            <button id="rBttn" name="register">Log In</button>
          </form>
        </div>
      </section>

    </body>
  </head>
</html>
