doctype html
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', type='text/css', href='stylesheets/css/aboutalgorithms.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/css/reset.css')
  link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
  
body
  div.page-wrapper
    div.header
      div.dropdown-button-container
        div.dropdown
          div.burger-holder.drop-button
          div.dropdown-content
            a link 1
            a link 2
            a link 3
      div.logo-holder
    div.content-wrapper
      div.algorithm-container
        div.algorithm-header Algorithm #1 (BETA)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah
      div.algorithm-container
        div.algorithm-header Algorithm #2 (RSI)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah
      div.algorithm-container
        div.algorithm-header Algorithm #3 (MACD)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah
      div.algorithm-container
        div.algorithm-header Algorithm #4 (MV SHORT)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah              
      div.algorithm-container
        div.algorithm-header Algorithm #5 (MC LONG)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah
      div.algorithm-container
        div.algorithm-header Algorithm #6 (TREND)
        div.algorithm-body this will be the body of the algorithm explanation 
          | blah
          | blah
          | blah
