extends masterPug.pug

block headContent
  link(rel='stylesheet', type='text/css', href='stylesheets/css/aboutalgorithms.css')

block aboutAlgorithmsLink
  li.nav-item.active
    a.nav-link(href="/aboutalgorithms") About Indicators

block bodyContent
  div.tab-content
    div.tab-holder 
      div.tab
        button(class="tablinks") RSI 
        button(class="tablinks") Moving Averages
        button(class="tablinks") Bollinger Bands
    
    div(class="tab-wrapper" id="RSI")
      div.tab-content-header What is RSI?
      div.tab-content-body RSI stands for "Relative Strength Index". It is a momentum indicator 
        | developed by noted technical analyst Welles Wilder, that compares the magnitude of recent 
        | gains and losses over a specified time period to measure speed and change of price movements 
        | of a security. It is primarily used to attempt to identify overbought or oversold conditions 
        | in the trading of an asset.
      div.tab-content-header How is RSI calculated?
      div.tab-content-body The relative strength index is calculated using the following formula: 
      div.tab-content-body
      div.tab-content-body RSI = 100 - 100 / (1 + RS) 
      div.tab-content-body
      div.tab-content-body Where RS = [Average of Upward Price Change] / [Average of Downward Price Change]
      div.tab-content-header How is RSI used?
      div.tab-content-body Traditional interpretation and usage of the RSI is that RSI values of 
        | 70 or above indicate that a security is becoming overbought or overvalued, and therefore 
        | may be primed for a trend reversal or corrective pullback in price. On the other side of 
        | RSI values, an RSI reading of 30 or below is commonly interpreted as indicating an oversold 
        | or undervalued condition that may signal a trend change or corrective price reversal to 
        | the upside.
      div.tab-content-footer Check out Investopedia's page on RSI 
        a(href='https://www.investopedia.com/terms/r/rsi.asp') here
  
    div(class="tab-wrapper" id="MAVGS")
      div.tab-content-header What are Moving Averages?
      div.tab-content-body A moving average (MA) is a commonly used technical indicator that is intended 
        | to smooth out price action by filtering out "noise" caused by random price fluctuations. It is 
        | considered a trend-following indicator because it is based on past prices. Moving Averages are 
        | the basis for many different strategies, but for this program, we'll just be utilizing a Simple 
        | Moving Average.
      div.tab-content-header How does a Simple Moving Average (SMA) work?
      div.tab-content-body A Simple Moving Average is a customizable arithmetic moving average that is  
        | calculated by adding the closing price of the security for a number of time periods, and then 
        | dividing that sum by the total number of time periods. This gives the average price of the 
        | security over the time period.
      div.tab-content-header How does an Exponential Moving Average (EMA) work?
      div.tab-content-body An exponential moving average (EMA) is a type of moving average that is similar 
        | to a simple moving average, except that more weight is given to the latest data. It's also known 
        | as the exponentially weighted moving average. This type of moving average reacts faster to recent 
        | price changes than a simple moving average.
      div.tab-content-header How should you use Moving Averages?
      div.tab-content-body Traders who employ technical analysis find moving averages very useful and 
        | insightful when applied correctly but create havoc when used improperly or are misinterpreted. 
        | All the moving averages commonly used in technical analysis are, by their very nature, lagging 
        | indicators. Consequently, the conclusions drawn from applying a moving average to a particular 
        | market chart should be to confirm a market move or to indicate its strength. Very often, by the 
        | time a moving average indicator line has made a change to reflect a significant move in the market, 
        | the optimal point of market entry has already passed.
      div.tab-content-footer Check out Investopedia's page on Simple Moving Averages 
        a(href='https://www.investopedia.com/terms/s/sma.asp') here
    
    div(class='tab-wrapper' id="BBANDS")
      div.tab-content-header What are Bollinger Bands®?
      div.tab-content-body A Bollinger Band®, developed by famous technical trader John Bollinger, is 
        | plotted two standard deviations away from a simple moving average. Standard deviation is a 
        | mathematical formula that measures volatility, showing how the stock price can vary from its 
        | true value. By measuring price volatility, Bollinger Bands® adjust themselves to market conditions. 
        | This is what makes them so handy for traders: they can find almost all of the price data needed 
        | between the two bands.
      div.tab-content-header How do Bollinger Bands® work?
      div.tab-content-body Bollinger Bands® consist of a center line and two price channels (bands) above 
        | and below it. The center line is an exponential moving average; the price channels are the standard 
        | deviations of the stock being studied. The bands will expand and contract as the price action of an 
        | issue becomes volatile (expansion) or becomes bound into a tight trading pattern (contraction).
      div.tab-content-header Can You Trust Bollinger Bands®?
      div.tab-content-body Bollinger Bands® are a highly popular technical analysis technique. Many 
        | traders believe the closer the prices move to the upper band, the more overbought the market, 
        | and the closer the prices move to the lower band, the more oversold the market. While every strategy 
        | has its drawbacks, Bollinger Bands® have become one of the most useful and commonly used tools in 
        | spotlighting extreme short-term prices in a security. Buying when stock prices cross below the lower 
        | Bollinger Band® often helps traders take advantage of oversold conditions and profit when the stock 
        | price moves back up toward the center moving-average line.
      div.tab-content-footer Check out Investopedia's page on Bollinger Bands® 
        a(href='https://www.investopedia.com/terms/b/bollingerbands.asp') here
  script(src="js/aboutalgorithms.js")
