extends masterPug.pug

block headContent
    link(rel='stylesheet',type='text/css', href='stylesheets/css/accountSettings.css')
    script(src="js/accountSettings.js")

block bodyContent
    div.settings-accordion-menu
        h3.accordion-header Password Settings
        div.accordion-section-contents
            form.change-password-form
                p.change-pwd-field-label Current Password:
                input(type='text', name="currentPassword", class='pwdSettingsTxtBox')
                p.change-pwd-field-label New Password:
                input(type='text', name="newPassword", class='pwdSettingsTxtBox')
                p.change-pwd-field-label Confirm New Password:
                input(type='text', name="newPasswordConfirm", class='pwdSettingsTxtBox')
                br
                input(type='submit', value='Apply', class='submitButton', id='changePwdSubButton')
        h3.accordion-header Authentication Settings
        div.accordion-section-contents
            form.two-factor-auth-form
                div.check-box-section
                    input(type='checkbox' value='twoFactorAuth' id='twoFactorEnableCheckbox')
                    p(class='two-factor-auth-label' id='twoFactCheckboxLbl') Enable Two-factor Authentication
                div.two-fact-phone-num-info
                    p(class='two-factor-auth-label' id='phoneNumLabel') Phone Number:
                    input(type='text', name="twoFactorPhoneNum", class='twoFactorSettingsTxtBox')
                input(type='submit', value='Apply', class='submitButton', id='twoFactorSubButton')
        h3.accordion-header Alpha Vantage Settings
        div.accordion-section-contents
            form.alpha-vantage-form(method="POST", action="/updateAVkey")
                p.alpha-vantage-key-label Alpha Vantage Key:
                input(type='text', name="newAVkey", class='pwdSettingsTxtBox', required=true)
                br
                input(type='submit', value='Apply', class='submitButton', id='changeAVkeySubButton')