doctype html
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', type='text/css', href='stylesheets/css/dashboard.css')
  link(rel='stylesheet', type='text/css', href='stylesheets/css/reset.css')
  link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")

body
  div.page-wrapper
    div.header
      div.dropdown-button-container
        div.dropdown
          div.burger-holder.drop-button
          div.dropdown-content
            a link 1
            a link 2
            a link 3
      div.logo-holder
    div.content-wrapper
      div.account-standing
        h1.account-standing-label Account Standing
        h1.account-standing-value $10,000
      div.account-graph-holder
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        div.account-graph
          canvas(id='folio-value', height='600', width='800')
          //Import the chart.js library
          script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js')
          script(src='js/dash-chart.js')
      div.tickers
        div.tick(id='tick')
    script(src='js/stocks.js')
    script(src='js/ticker.js')
