doctype html
head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(href="https://fonts.googleapis.com/css?family=Lato", rel="stylesheet")
  link(href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css", rel="stylesheet")
  link(rel='stylesheet', type='text/css', href='stylesheets/css/reset.css')
  link(href="stylesheets/css/style.css", rel="stylesheet")
  link(href="stylesheets/css/dataanalytics.css", rel="stylesheet")
  
body
  div.page-wrapper
    div.header
      div.dropdown-button-container
        div.dropdown
          div.burger-holder.drop-button
          div.dropdown-content
            a link 1
            a link 2
            a link 3
      div.logo-holder
    
    div.content-wrapper
      h1.page-title Account Analytics
      div.graph-wrapper
        div.graph-selector-wrapper
          ul.graph-selector
            li.graph-selection Graph 1
            li.graph-selection Graph 2
            li.graph-selection Graph 3
        div.graph-view-wrapper
          
          //- My only idea is to switch which canvas is active based on what selection is clicked.
          //- graph-selection[0] => graph-view[0]
          canvas.graph-view
