extends masterPug.pug

block headContent
  link(rel='stylesheet', type='text/css', href='stylesheets/css/investments.css')

block bodyContent
  div.investments
    button(type='button', id='add', onclick='myModal.showModal()') Add
    //A Modal
    div.modal(id='modal')
      div.modal-content(id='modal-content')
        span.close(onclick='myModal.hideModal()') &times;
        form(id='modalForm', method="POST", action="/add")
          input(type='text', name='lookup', placeholder='Company Name', oninput='myModal.lookupOnInput()')
          div.select(id='results')
          input(type='text', name='symbol', placeholder='Symbol', readonly="readonly")
          input(type='number', name='volume', onchange='myModal.volumeOnChange()', placeholder='Volume')
          span(id='priceConversion')
          //algorithm delection stuff is generated dynamically
          select(name='algorithm', onchange='myModal.algorithmOnChange()')
            option(value='default') Select an Algorithm
          div.algorithm-params(id='params')
          input(type='submit', value='Add')
    //Edit modal
    div.modal(id='edit')
        div.modal-content(id='edit-content')
          span.close(onclick='edit.hideModal()') &times;
          form(id='editForm', method='POST', action='/edit-algorithm')
            input(type='text', name='symbol', readonly="readonly")
            input(type='hidden', name='investID', readonly="readonly")
            select(name='algorithm', onchange='edit.algorithmOnChange()')
            div.algorithm-params(id='edit-params')
            input(type='submit', value='Confirm')
    h1 My Investments
    div.invest(id='invest')
      span(id='warn')
      span(id='load') Loading Data...
      div.invest-holder-base(id='base')
          span.symbol Symbol
          span.share Share
          span.volume Volume
          span.price Price
          span.algorithm Algorithm
          span.status Status
      div.holders(id='investments')
  script(src='js/stocks.js')
  script(src='js/investments.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
