extends masterPug.pug

block headContent
  link(rel='stylesheet', type='text/css', href='stylesheets/css/dashboard.css')
  script(src='js/stocks.js')
  script(src='js/investments.js')

block bodyContent
  div.investments
    h1 My Investments
      div.invest(id='invest')