html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Testing Page for lookup
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    input(type='text', id='lookup')
    input(type='text', id='symbol', disabled)
    div.class(id='results')
    div.class(id='choose')
    script(src='js/lookup.js')
