/*
orange - #F48F4B
green - #43a047
black - #1c2321
gray - #7b7f7c
white - #f2f7f2
*/

html {
  height: 100%;
  min-width: 400px;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  min-height: 100%;
}

.page-wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #1C2321;
  z-index: 10;
}

.burger-holder {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url('../../images/ic_menu_white_48dp_1x.png');
  background-position: center;
  background-repeat: no-repeat;
}


.logo-holder {
  float: right;
  width: 220px;
  height: 80px;
  background-image: url('../../images/logo-black-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}

.dropdown-button-container {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1C2321;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #F2F7F2;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F48F4B;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .drop-button {
    background-color: black;
}


.content-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: calc(100vh - 80px);
  padding-top: 80px;
  background-color: #F2F7F2;
  z-index: 0;
}

.account-standing {
  height: 120px;
  width: 300px;
  color: #1C2321;
  margin: 0 auto;
  margin-top: 30px;
  border: 1px solid #1C2321;
  border-radius: 8px;
}

.account-standing-label {
  text-align: center;
  font-size: 1.3em;
  line-height: 50px;
}

.account-standing-value {
  text-align: center;
  font-size: 3.5em;
  line-height: 60px;
}


.account-graph-holder{
  position: relative;
  margin: 0 auto;
  max-height: 600px;
  min-height: 300px;
  max-width: 800px;
  min-width: 400px;
  margin-top: 30px;
  border: 1px solid #1C2321;
  border-radius: 8px;
}


.account-graph {
  display: inline-block;
  background-image: url('../../images/tmp-graph.png');
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
}
