/*
orange - #F48F4B
green - #43a047
black - #1c2321
gray - #7b7f7c
white - #f2f7f2
*/

body {
  font-family: 'Ubuntu', sans-serif;
}

.myNavbarTheme {
    background-color: #1C2321;
}

.content-wrapper {
    min-height: 100px;
    padding-top: 60px;
    font-family: 'Ubuntu', sans-serif;
}

.myInMyFolio {
  color: #F48F4B;
}

.FolioInMyFolio {
  color: #43A047;
}

.myInMyFolio, .FolioInMyFolio {
  font-style: italic;
}

.navbar {
  font-family: 'Ubuntu', sans-serif;
}
